<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>servicecallback</key>
	<dict>
		<key>excutor</key>
		<string>TNBMWapService</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>vibrate</key>
	<dict>
		<key>excutor</key>
		<string>TNBShake</string>
	</dict>
	<key>tel</key>
	<dict>
		<key>in</key>
		<string>MWapPhoneModel</string>
		<key>excutor</key>
		<string>TNBPhone</string>
	</dict>
	<key>sms</key>
	<dict>
		<key>in</key>
		<string>MWapPhoneModel</string>
		<key>excutor</key>
		<string>TNBMessage</string>
	</dict>
	<key>contact</key>
	<dict>
		<key>excutor</key>
		<string>TNBContact</string>
	</dict>
	<key>clipboard</key>
	<dict>
		<key>in</key>
		<string>MWapClipBoardModel</string>
		<key>excutor</key>
		<string>TNBClipBoard</string>
	</dict>
	<key>window</key>
	<dict>
		<key>in</key>
		<string>MWapCloseWebViewModel</string>
		<key>excutor</key>
		<string>TNBCloseWebview</string>
	</dict>
	<key>gps</key>
	<dict>
		<key>in</key>
		<string>MWapCloseWebViewModel</string>
		<key>out</key>
		<string>MWapGPSModel</string>
		<key>excutor</key>
		<string>TNBGetGPSState</string>
	</dict>
	<key>network</key>
	<dict>
		<key>out</key>
		<string>MWapConnectedStateModel</string>
		<key>excutor</key>
		<string>TNBGetConnectedState</string>
	</dict>
	<key>map</key>
	<dict>
		<key>in</key>
		<string>MWapAmapInModel</string>
		<key>out</key>
		<string>MWapAmapOutModel</string>
		<key>excutor</key>
		<string>TNBAmapLocation</string>
	</dict>
	<key>photo</key>
	<dict>
		<key>in</key>
		<string>TNRPhotoInModel</string>
		<key>out</key>
		<string>TNRPhotoMultiModel</string>
		<key>excutor</key>
		<string>TNRPhotoModule</string>
	</dict>
	<key>root</key>
	<dict>
		<key>excutor</key>
		<string>TNBMWapRoot</string>
	</dict>
	<key>share</key>
	<dict>
		<key>in</key>
		<string>MWapShareStandardModel</string>
		<key>excutor</key>
		<string>TNBShareStandard</string>
	</dict>
	<key>checkoutPayCash</key>
	<dict>
		<key>in</key>
		<string>TNAPayCashModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNACashierDeskNewestVC</string>
	</dict>
</dict>
</plist>
